<h1>Graph Network Analysis for Anti-Money Laundering with Python</h1>

<h2>Importing Libraries</h2>

In [1]:
import pandas as pd
import networkx as nx
from pyvis import network as net
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
pd.options.display.float_format = '{:,.0f}'.format

<h2>Importing Libraries</h2>

In [3]:
# https://www.kaggle.com/datasets/anshankul/ibm-amlsim-example-dataset

from zipfile import ZipFile
with ZipFile('data.zip','r') as zip:
    zip.extractall(path='data')

<h2>Check Dataset</h2>

In [4]:
txn_small = pd.read_csv('data/transactions_sample.csv', usecols=['SENDER_ACCOUNT_ID','RECEIVER_ACCOUNT_ID','TX_AMOUNT'], dtype='object')
txn_small['TX_AMOUNT'] = txn_small['TX_AMOUNT'].astype(float)
txn_small

     SENDER_ACCOUNT_ID RECEIVER_ACCOUNT_ID  TX_AMOUNT
0                 7366                8662         65
1                 9245                7121      1,043
2                 6427                9245        501
3                 7515                8255        587
4                 7515                8255        587
...                ...                 ...        ...
1845              6427                9245        501
1846              7515                8255        587
1847              7515                8255        587
1848              6427                9245        501
1849              7366                6847 21,474,836

[1850 rows x 3 columns]